.header {
    background-color: #fff;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 20px; 
}
.header__content {
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__burger {
    display: none;
    position: relative;
    border-radius: 50%;
    width: 22px;
    height: 14px;
    cursor: pointer;
    z-index: 20;
    margin-left: 20px;
    flex: 0 0 auto; 
}

.header__burger::before {
    content: '';
    width: 22px;
    left: 50%;
    margin-left: -11px;
    height: 2px;
    top: 0;
    position: absolute;
    background-color: #0690b5;
    transition: opacity ease .3s; 
}

.header__burger::after {
    content: '';
    width: 22px;
    left: 50%;
    margin-left: -11px;
    height: 2px;
    bottom: 0;
    position: absolute;
    background-color: #0690b5;
    transition: opacity ease .3s; 
}

.header__burger {
    span {
      width: 22px;
      height: 2px;
      top: 50%;
      left: 50%;
      margin: -1px 0 0 -11px;
      position: absolute;
      background-color: #0690b5;
      transition: transform ease .3s; 
    }
}

.header__burger {
    .is-open::before {
        opacity: 0;
    }
    .header__burger {
        .is-open:after {
            opacity: 0; 
        }
    }

    .header__burger {
        .is-open span:nth-child(1) {
            transform: rotate(45deg);
        }
    }

    .header__burger {
        .is-open span:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (max-width: 700px) { 
    .header {
        border-bottom: 1px solid #cdcdcd;
        position: relative;
        z-index: 20;
        height: 60px;
    }

    .header__burger {
        display: block;
        transition: .3s; 
    }

    .header__content {
        padding: 11px 0;
    }
}
@media only screen and (max-width: 520px) {
    .container {
        padding: 0 10px; 
    }
}

