.route__description {
    flex: 1 1 auto;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

.route__description:last-child {
    border-bottom: 1px solid tra;
}

.route__holder {
    border-bottom: 1px solid #eaeaea;
    position: relative;
}


@media only screen and (max-width: 730px) {
    .route__holder::before {
        display: none;
    }
}

.route__holder:last-child {
    border-bottom: 0;
}

.route__header {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

@media only screen and (max-width: 1000px) {
    .route__header {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 730px) {
    .route__header {
        position: relative;
        padding: 14px 0 65px 0;
    }

    .route__header::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background-color: #eaeaea;
        content: '';
    }
}

.route__body {
    margin-top: -6px;
}



.route__bottom {
    padding: 15px 18px;
    width: 100%;
}

.route__bottom-price {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    p {
        display: inline-block;
        color: #999;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2;
    }

    strong {
        display: inline-block;
        flex: 0 0 auto;
        padding-left: 10px;
        color: #333;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;


        span {
            font-size: 15px;
            font-weight: 500;
            margin-left: 4px;
        }
    }
}




@media only screen and (max-width: 520px) {
    .route__bottom {
        padding: 10px 0px 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.secondary {
    background-color: transparent;
    color: #0691b5;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.35px;
    padding: 13px 12px;
    display: block;
    border: 1px solid #0691b5;
    width: 100%;
    border-radius: 3px;
    transition: .3s;
    max-width: 122px;
    margin-top: 28px;
    position: relative;
    z-index: 2;

    &:active {
        background-color: #0690b5;
        color: #fff;
        outline: none;
    }

    &:hover {
        background-color: #0690b5;
        color: #fff;
        outline: none;
    }

}

.primary {
    background-color: #f59e1b;
    color: #fff;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.35px;
    padding: 13px 12px;
    display: block;
    border-radius: 3px;
    transition: .3s;
}

.wideButton {
    max-width: none;
    width: 98%;
    margin-bottom: 10px;
}

.wideButtonPrimary {
    max-width: none;
    width: 98%;
    margin-top: 20px;
}

.route__inner {
    flex: 1 1 auto;
    padding: 0 18px;
}

@media only screen and (max-width: 520px) {
    .route__inner {
        padding: 0 10px;
    }
}

.route__inner--carrier {
    flex: 0 0 230px;
}

.route__carrier {
    display: block;
    position: relative;
    padding-left: 48px;

    span {
        display: inline-block;
        color: #999;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2;
    }

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 38px;
        height: 18px;
        background-image: url("./bus-mini.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.route__carrier_back-way {
    display: block;
    position: relative;
    padding-left: 48px;

    span {
        display: inline-block;
        color: #999;
        font-size: 12px;
        font-weight: 500;
        line-height: 1.2;
    }

    &::before {
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 38px;
        height: 18px;
        background-image: url("./bus-mini.svg");
        background-repeat: no-repeat;
        background-size: contain;
        transform: scale(-1, 1);
    }
}


.back_way {
    transform: scale(-1, 1);
}

@media only screen and (max-width: 730px) {
    .route__carrier {
        display: none;
    }

    .route__carrier_back-way {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .route__inner--carrier {
        margin-top: 22px;
        order: 4;
        flex: 0 0 100%;
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 520px) {
    .route__inner--carrier {
        bottom: 10px;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--carrier {
        position: absolute;
        bottom: 15px;
        left: 0;
    }
}

@media only screen and (max-width: 1000px) {
    .route__inner--carrier .route__inner-carrier {
        order: 2;
        margin-left: 18px;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--carrier .route__inner-carrier {
        margin-left: 0;
    }
}

.route__name {
    display: block;
    margin-top: 6px;
    color: #666;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
}

@media only screen and (max-width: 730px) {
    .route__name {
        color: #999;
    }
}

@media only screen and (max-width: 520px) {
    .route__name {
        font-size: 11px;
    }
}

.route__time {
    display: block;
    color: #303030;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
}

@media only screen and (max-width: 730px) {
    .route__time {
        text-align: right;
    }

    .route__date {
        text-align: right;
    }
}

.route__date {
    display: block;
    margin-top: 3px;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
}

.route__city {
    display: block;
    margin-top: 14px;
    color: #999;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
}

@media only screen and (max-width: 730px) {
    .route__city {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 520px) {
    .route__city {
        font-size: 12px;
    }
}

.route__station {
    display: block;
    color: #999;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 3px;
}

@media only screen and (max-width: 520px) {
    .route__station {
        font-size: 10px;
    }
}

.route__inner--departure {
    flex: 0 1 275px;
}

@media only screen and (max-width: 1000px) {
    .route__inner--departure {
        flex: 0 0 43%;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--departure {
        flex: 0 0 50%;
    }
}

.route__inner--arriving {
    flex: 0 1 275px;
}

@media only screen and (max-width: 1000px) {
    .route__inner--arriving {
        flex: 0 0 43%;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--arriving {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--arriving .route__time {
        text-align: right;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--arriving .route__date {
        text-align: right;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--departure .route__time {
        text-align: left;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--departure .route__date {
        text-align: left;
    }
}

.route__time {
    font-size: 16px;
    color: #999;

    span {
        font-size: 12px;
    }
}

.route__time {
    display: block;
    color: #303030;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;

    span {
        font-size: 16px;
        font-weight: 500;
        margin-left: 5px;
    }
}

.route__inner--travel-time {
    flex: 0 0 170px;
}

@media only screen and (max-width: 1000px) {
    .route__inner--travel-time {
        flex: 0 0 30%;
        margin-left: -16%;
        text-align: right;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--travel-time {
        position: absolute;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        padding: 6px;
        flex: 0 0 auto;
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 520px) {
    .route__inner--travel-time {
        top: 12px;
    }
}

@media only screen and (max-width: 730px) {
    .route__inner--travel-time .route__time {
        color: #999;
        font-size: 16px;
    }

    .route__inner--travel-time .route__time span {
        font-size: 12px;
    }
}


.route__information {
    border-top: 1px solid #eaeaea;
    padding: 12px 18px;
}

.route__information-item {
    display: block;
    margin-bottom: 10px;
    color: #666;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.2;

    span {
        color: #999;
        margin-right: 3px;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 520px) {
    .route__information {
        padding: 12px 10px;
    }
}

.route__schedule {
    border-top: 1px solid #eaeaea;
    padding: 22px 18px;
    overflow: hidden;
}

.route__inner--price {
    position: absolute;
    bottom: 15px;
    right: 0;
}

.route__inner--price .btn-orange-border {
    padding: 8px 22px;
}

@media only screen and (max-width: 730px) {
    .route__inner--price {
        display: block;
    }
}

@media only screen and (max-width: 520px) {
    .route__inner--price {
        bottom: 10px;
    }
}

.btn-orange-border {
    background-color: transparent;
    color: #ec6a00;
    font-family: "Montserrat";
    font-size: 15px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.35px;
    padding: 13px 12px;
    border: 2px solid #ff9933;
    display: block;
    width: 100%;
    border-radius: 3px;
    transition: .3s;
}